In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ---------------------------------------- 0.0/316.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/316.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/316.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/316.9 MB ? eta -:--:--
     -------------------------------------- 0.0/316.9 MB 131.3 kB/s eta 0:40:14
     -------------------------------------- 0.1/316.9 MB 234.9 kB/s eta 0:22:29
     -------------------------------------- 0.1/316.9 MB 409.6 kB/s eta 0:12:54
     -------------------------------------- 0.2/316.9 MB 724.0 kB/s eta 0:07:18
     ---------------------------------------- 0.6/316.9 MB 1.7 MB/s eta 0:03:03
     ---------------------------------------- 1.7/316.9 MB 4.3 MB/s eta 0:01:14
     ---------------------------------------- 3.6/316.9 MB 8.3 MB/s eta 0:00:38
      -------------------------------------- 6.7/316.9 MB 14.4 MB/s eta 0:00:22
     - ------------------------------------- 8.9/316.9 MB 17.4 MB/s eta 0:00:18
     - ------------------------------------- 9.2/316.9 MB 16.4 MB/s eta 0:00:19
     - ------------------------------------- 9.4/316.9 MB 16.2 MB/s eta 0:00:19
     - ------------------------------------- 9.4/316.9 MB 16.2 MB/s eta 0:00:19
     - ------------------------------------ 11.2/316.9 MB 31.2 MB/s eta 0:00:10
     - ------------------------------------ 14.7/316.9 MB 32.7 MB/s eta 0:00:10
     -- ----------------------------------- 17.3/316.9 MB 34.4 MB/s eta 0:00:09
     -- ----------------------------------- 20.0/316.9 MB 72.6 MB/s eta 0:00:05
     -- ----------------------------------- 22.2/316.9 MB 65.2 MB/s eta 0:00:05
     -- ----------------------------------- 23.4/316.9 MB 54.4 MB/s eta 0:00:06
     -- ----------------------------------- 24.9/316.9 MB 50.4 MB/s eta 0:00:06
     --- ---------------------------------- 26.2/316.9 MB 43.5 MB/s eta 0:00:07
     --- ---------------------------------- 27.1/316.9 MB 38.5 MB/s eta 0:00:08
     --- ---------------------------------- 27.9/316.9 MB 34.6 MB/s eta 0:00:09
     --- ---------------------------------- 29.4/316.9 MB 31.2 MB/s eta 0:00:10
     --- ---------------------------------- 32.5/316.9 MB 34.4 MB/s eta 0:00:09
     ---- --------------------------------- 35.9/316.9 MB 40.9 MB/s eta 0:00:07
     ---- --------------------------------- 38.6/316.9 MB 65.6 MB/s eta 0:00:05
     ----- -------------------------------- 41.8/316.9 MB 65.6 MB/s eta 0:00:05
     ----- -------------------------------- 44.3/316.9 MB 59.5 MB/s eta 0:00:05
     ----- -------------------------------- 46.1/316.9 MB 59.5 MB/s eta 0:00:05
     ----- -------------------------------- 47.7/316.9 MB 54.4 MB/s eta 0:00:05
     ----- -------------------------------- 49.0/316.9 MB 46.7 MB/s eta 0:00:06
     ----- -------------------------------- 49.9/316.9 MB 40.9 MB/s eta 0:00:07
     ------ ------------------------------- 51.0/316.9 MB 36.4 MB/s eta 0:00:08
     ------ ------------------------------- 52.0/316.9 MB 32.8 MB/s eta 0:00:09
     ------ ------------------------------- 54.2/316.9 MB 31.2 MB/s eta 0:00:09
     ------ ------------------------------- 57.3/316.9 MB 36.4 MB/s eta 0:00:08
     ------- ------------------------------ 59.8/316.9 MB 43.7 MB/s eta 0:00:06
     ------- ------------------------------ 62.5/316.9 MB 59.5 MB/s eta 0:00:05
     ------- ------------------------------ 65.8/316.9 MB 65.6 MB/s eta 0:00:04
     -------- ----------------------------- 68.0/316.9 MB 59.5 MB/s eta 0:00:05
     -------- ----------------------------- 69.9/316.9 MB 54.4 MB/s eta 0:00:05
     -------- ----------------------------- 71.6/316.9 MB 50.4 MB/s eta 0:00:05
     -------- ----------------------------- 72.7/316.9 MB 46.7 MB/s eta 0:00:06
     -------- ----------------------------- 73.6/316.9 MB 40.9 MB/s eta 0:00:06
     -------- ----------------------------- 74.5/316.9 MB 36.3 MB/s eta 0:00:07
     --------- ---------------------------- 75.3/316.9 MB 32.7 MB/s eta 0:00:08
     --------- ---------------------------- 76.0/316.9 MB 28.5 MB/s eta 0:00:09
     --------- ---------------------------- 76.7/316.9 MB 26.2 MB/s eta 0:00:10
     --------- ---------------------------- 78.6/316.9 MB 26.2 MB/s eta 0:00:10
     --------- ---------------------------- 81.4/316.9 MB 27.3 MB/s eta 0:00:09
     ---------- --------------------------- 83.6/316.9 MB 31.2 MB/s eta 0:00:08
     ---------- --------------------------- 84.9/316.9 MB 34.4 MB/s eta 0:00:07
     ---------- --------------------------- 85.9/316.9 MB 36.4 MB/s eta 0:00:07
     ---------- --------------------------- 86.9/316.9 MB 36.4 MB/s eta 0:00:07
     ---------- --------------------------- 87.9/316.9 MB 36.4 MB/s eta 0:00:07
     ---------- --------------------------- 88.8/316.9 MB 32.8 MB/s eta 0:00:07
     ---------- --------------------------- 89.6/316.9 MB 29.7 MB/s eta 0:00:08
     ---------- --------------------------- 91.4/316.9 MB 28.4 MB/s eta 0:00:08
     ----------- -------------------------- 93.5/316.9 MB 28.4 MB/s eta 0:00:08
     ----------- -------------------------- 94.9/316.9 MB 28.4 MB/s eta 0:00:08
     ----------- -------------------------- 96.1/316.9 MB 29.7 MB/s eta 0:00:08
     ----------- -------------------------- 97.7/316.9 MB 31.2 MB/s eta 0:00:08
     ----------- -------------------------- 98.9/316.9 MB 32.7 MB/s eta 0:00:07
     ----------- -------------------------- 99.9/316.9 MB 34.6 MB/s eta 0:00:07
     ----------- ------------------------- 100.8/316.9 MB 31.2 MB/s eta 0:00:07
     ----------- ------------------------- 101.7/316.9 MB 28.5 MB/s eta 0:00:08
     ------------ ------------------------ 103.2/316.9 MB 26.2 MB/s eta 0:00:09
     ------------ ------------------------ 105.4/316.9 MB 28.5 MB/s eta 0:00:08
     ------------ ------------------------ 107.2/316.9 MB 29.7 MB/s eta 0:00:08
     ------------ ------------------------ 108.9/316.9 MB 31.2 MB/s eta 0:00:07
     ------------ ------------------------ 110.2/316.9 MB 34.4 MB/s eta 0:00:06
     ------------- ----------------------- 111.6/316.9 MB 34.6 MB/s eta 0:00:06
     ------------- ----------------------- 112.7/316.9 MB 36.4 MB/s eta 0:00:06
     ------------- ----------------------- 113.7/316.9 MB 34.4 MB/s eta 0:00:06
     ------------- ----------------------- 114.6/316.9 MB 31.2 MB/s eta 0:00:07
     ------------- ----------------------- 116.3/316.9 MB 31.2 MB/s eta 0:00:07
     ------------- ----------------------- 119.2/316.9 MB 32.8 MB/s eta 0:00:07
     -------------- ---------------------- 121.1/316.9 MB 34.4 MB/s eta 0:00:06
     -------------- ---------------------- 122.4/316.9 MB 34.4 MB/s eta 0:00:06
     -------------- ---------------------- 123.8/316.9 MB 36.4 MB/s eta 0:00:06
     -------------- ---------------------- 125.1/316.9 MB 40.9 MB/s eta 0:00:05
     -------------- ---------------------- 126.0/316.9 MB 34.4 MB/s eta 0:00:06
     -------------- ---------------------- 126.7/316.9 MB 31.2 MB/s eta 0:00:07
     -------------- ---------------------- 127.4/316.9 MB 29.7 MB/s eta 0:00:07
     --------------- --------------------- 129.0/316.9 MB 27.3 MB/s eta 0:00:07
     --------------- --------------------- 132.3/316.9 MB 31.2 MB/s eta 0:00:06
     --------------- --------------------- 135.4/316.9 MB 38.6 MB/s eta 0:00:05
     ---------------- -------------------- 138.1/316.9 MB 73.1 MB/s eta 0:00:03
     ---------------- -------------------- 140.3/316.9 MB 73.1 MB/s eta 0:00:03
     ---------------- -------------------- 142.9/316.9 MB 65.6 MB/s eta 0:00:03
     ---------------- -------------------- 145.5/316.9 MB 59.5 MB/s eta 0:00:03
     ----------------- ------------------- 148.8/316.9 MB 59.5 MB/s eta 0:00:03
     ----------------- ------------------- 151.9/316.9 MB 65.6 MB/s eta 0:00:03
     ------------------ ------------------ 155.9/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------ ------------------ 159.1/316.9 MB 72.6 MB/s eta 0:00:03
     ------------------ ------------------ 160.9/316.9 MB 65.2 MB/s eta 0:00:03
     ------------------- ----------------- 163.4/316.9 MB 59.8 MB/s eta 0:00:03
     ------------------- ----------------- 165.8/316.9 MB 54.7 MB/s eta 0:00:03
     ------------------- ----------------- 168.6/316.9 MB 59.5 MB/s eta 0:00:03
     -------------------- ---------------- 172.3/316.9 MB 65.6 MB/s eta 0:00:03
     -------------------- ---------------- 175.2/316.9 MB 65.6 MB/s eta 0:00:03
     -------------------- ---------------- 177.8/316.9 MB 65.6 MB/s eta 0:00:03
     -------------------- ---------------- 179.7/316.9 MB 59.5 MB/s eta 0:00:03
     --------------------- --------------- 182.5/316.9 MB 54.4 MB/s eta 0:00:03
     --------------------- --------------- 185.5/316.9 MB 59.5 MB/s eta 0:00:03
     --------------------- --------------- 187.6/316.9 MB 54.4 MB/s eta 0:00:03
     ---------------------- -------------- 189.9/316.9 MB 54.4 MB/s eta 0:00:03
     ---------------------- -------------- 191.4/316.9 MB 50.4 MB/s eta 0:00:03
     ---------------------- -------------- 194.5/316.9 MB 54.4 MB/s eta 0:00:03
     ----------------------- ------------- 197.6/316.9 MB 59.5 MB/s eta 0:00:03
     ----------------------- ------------- 200.4/316.9 MB 54.7 MB/s eta 0:00:03
     ----------------------- ------------- 202.5/316.9 MB 59.5 MB/s eta 0:00:02
     ----------------------- ------------- 204.0/316.9 MB 54.7 MB/s eta 0:00:03
     ------------------------ ------------ 207.3/316.9 MB 54.7 MB/s eta 0:00:03
     ------------------------ ------------ 210.3/316.9 MB 54.4 MB/s eta 0:00:02
     ------------------------ ------------ 213.8/316.9 MB 72.6 MB/s eta 0:00:02
     ------------------------- ----------- 217.0/316.9 MB 81.8 MB/s eta 0:00:02
     ------------------------- ----------- 220.6/316.9 MB 72.6 MB/s eta 0:00:02
     -------------------------- ---------- 223.0/316.9 MB 72.6 MB/s eta 0:00:02
     -------------------------- ---------- 225.6/316.9 MB 65.2 MB/s eta 0:00:02
     -------------------------- ---------- 228.1/316.9 MB 59.5 MB/s eta 0:00:02
     -------------------------- ---------- 229.6/316.9 MB 54.7 MB/s eta 0:00:02
     --------------------------- --------- 232.0/316.9 MB 50.4 MB/s eta 0:00:02
     --------------------------- --------- 233.9/316.9 MB 46.7 MB/s eta 0:00:02
     --------------------------- --------- 237.1/316.9 MB 50.4 MB/s eta 0:00:02
     --------------------------- --------- 239.5/316.9 MB 50.4 MB/s eta 0:00:02
     ---------------------------- -------- 241.3/316.9 MB 50.4 MB/s eta 0:00:02
     ---------------------------- -------- 245.4/316.9 MB 54.7 MB/s eta 0:00:02
     ---------------------------- -------- 248.1/316.9 MB 43.7 MB/s eta 0:00:02
     ----------------------------- ------- 254.7/316.9 MB 72.6 MB/s eta 0:00:01
     ----------------------------- ------ 258.1/316.9 MB 108.8 MB/s eta 0:00:01
     ------------------------------ ------ 260.0/316.9 MB 93.9 MB/s eta 0:00:01
     ------------------------------ ------ 262.1/316.9 MB 65.2 MB/s eta 0:00:01
     ------------------------------ ------ 264.0/316.9 MB 59.5 MB/s eta 0:00:01
     ------------------------------- ----- 265.8/316.9 MB 46.9 MB/s eta 0:00:02
     ------------------------------- ----- 268.5/316.9 MB 46.7 MB/s eta 0:00:02
     ------------------------------- ----- 271.6/316.9 MB 54.7 MB/s eta 0:00:01
     -------------------------------- ---- 274.5/316.9 MB 54.4 MB/s eta 0:00:01
     -------------------------------- ---- 276.8/316.9 MB 59.5 MB/s eta 0:00:01
     -------------------------------- ---- 279.2/316.9 MB 54.4 MB/s eta 0:00:01
     -------------------------------- ---- 281.3/316.9 MB 50.1 MB/s eta 0:00:01
     --------------------------------- --- 283.1/316.9 MB 46.9 MB/s eta 0:00:01
     --------------------------------- --- 284.8/316.9 MB 43.7 MB/s eta 0:00:01
     --------------------------------- --- 286.7/316.9 MB 43.7 MB/s eta 0:00:01
     --------------------------------- --- 289.3/316.9 MB 43.7 MB/s eta 0:00:01
     ---------------------------------- -- 294.0/316.9 MB 59.5 MB/s eta 0:00:01
     ---------------------------------- -- 296.8/316.9 MB 72.6 MB/s eta 0:00:01
     ---------------------------------- -- 299.2/316.9 MB 72.6 MB/s eta 0:00:01
     ----------------------------------- - 301.4/316.9 MB 65.6 MB/s eta 0:00:01
     ----------------------------------- - 303.1/316.9 MB 54.4 MB/s eta 0:00:01
     ----------------------------------- - 305.2/316.9 MB 50.4 MB/s eta 0:00:01
     ----------------------------------- - 307.2/316.9 MB 46.7 MB/s eta 0:00:01
     ------------------------------------  310.4/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  313.5/316.9 MB 59.5 MB/s eta 0:00:01
     ------------------------------------  315.4/316.9 MB 54.7 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     ------------------------------------  316.9/316.9 MB 50.4 MB/s eta 0:00:01
     -------------------------------------- 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ---------------------------------------- 0.0/200.5 kB ? eta -:--:--
     ------------------------------------- 200.5/200.5 kB 12.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425384 sha256=fd6b9d0ee17d338793adf4e24e11fecbbe76f03440c91f099892f0b1058ae15b
  Stored in directory: c:\users\shall\appdata\local\pip\cache\wheels\38\df\61\8c121f50c3cffd77f8178180dd232d90b3b99d1bd61fb6d6be
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\shall\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [27]:
import pandas as pd
pd.read_csv('test1.csv')

   Name  Age  Experience
0  Jack   22          13
1  Bill   45          33
2  Dave   55          50

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [30]:
spark

In [31]:
df_pyspark=spark.read.csv('test1.csv')

In [32]:
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
|Jack| 22|        13|
|Bill| 45|        33|
|Dave| 55|        50|
+----+---+----------+

In [33]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [35]:
df_pyspark.head(3)

[Row(Name='Jack', Age='22', Experience='13'),
 Row(Name='Bill', Age='45', Experience='33'),
 Row(Name='Dave', Age='55', Experience='50')]

In [36]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [37]:
from pyspark.sql import SparkSession

In [39]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [40]:
spark

In [41]:
#Read Dataset
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [42]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [43]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [44]:
df_pyspark.head(3)

[Row(Name='Jack', Age='22', Experience='13'),
 Row(Name='Bill', Age='45', Experience='33'),
 Row(Name='Dave', Age='55', Experience='50')]

In [45]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Jack| 22|        13|
|Bill| 45|        33|
|Dave| 55|        50|
+----+---+----------+

In [50]:
df_pyspark.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
|Jack|        13|
|Bill|        33|
|Dave|        50|
+----+----------+

In [51]:
df_pyspark['Name']

Column<'Name'>

In [52]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'string'), ('Experience', 'string')]

In [54]:
df_pyspark.describe().show()

+-------+----+------------------+------------------+
|summary|Name|               Age|        Experience|
+-------+----+------------------+------------------+
|  count|   3|                 3|                 3|
|   mean|NULL|40.666666666666664|              32.0|
| stddev|NULL|16.921386861996073|18.520259177452136|
|    min|Bill|                22|                13|
|    max|Jack|                55|                50|
+-------+----+------------------+------------------+

In [55]:
### Adding Columns In Data Frame
df_pyspark.withColumn('Experience After 2 Years',df_pyspark['Experience']+2).show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience After 2 Years|
+----+---+----------+------------------------+
|Jack| 22|        13|                    15.0|
|Bill| 45|        33|                    35.0|
|Dave| 55|        50|                    52.0|
+----+---+----------+------------------------+

In [57]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Jack| 22|        13|
|Bill| 45|        33|
|Dave| 55|        50|
+----+---+----------+

In [58]:
## Drop columns
df_pyspark=df_pyspark.drop('Expereince After 2 year')

In [59]:
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Jack| 22|        13|
|Bill| 45|        33|
|Dave| 55|        50|
+----+---+----------+

In [60]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Jack| 22|        13|
|    Bill| 45|        33|
|    Dave| 55|        50|
+--------+---+----------+

In [61]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [68]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [69]:
df_pyspark.show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [70]:
##Drop Columns
df_pyspark.drop('Name').show()

+----+----------+-------+
| Age|Experience| Salary|
+----+----------+-------+
|  21|        10|    445|
|  30|        12|  32049|
|  40|        11|  30495|
|  43|        20|5866839|
|  40|        22| 938482|
|  33|        14|2039485|
|NULL|      NULL|5039281|
|  57|        41|   NULL|
|  23|      NULL|   NULL|
+----+----------+-------+

In [72]:
df_pyspark.na.drop().show

In [74]:
## Any==how
df_pyspark.na.drop(how="all").show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [78]:
df_pyspark.na.drop(how="any",thresh=2).show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
+--------+----+----------+-------+

In [81]:
# Threshold
# Cleaned motherfuckersssss
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+-------+
|    Name|Age|Experience| Salary|
+--------+---+----------+-------+
|   Jason| 21|        10|    445|
|    Fred| 30|        12|  32049|
|Jaikumar| 40|        11|  30495|
|   Mason| 43|        20|5866839|
|  Barton| 40|        22| 938482|
| William| 33|        14|2039485|
+--------+---+----------+-------+

In [84]:
## Subset
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+--------+---+----------+-------+
|    Name|Age|Experience| Salary|
+--------+---+----------+-------+
|   Jason| 21|        10|    445|
|    Fred| 30|        12|  32049|
|Jaikumar| 40|        11|  30495|
|   Mason| 43|        20|5866839|
|  Barton| 40|        22| 938482|
| William| 33|        14|2039485|
|    NULL| 57|        41|   NULL|
+--------+---+----------+-------+

In [85]:
## Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+-------+
|    Name|Age|Experience| Salary|
+--------+---+----------+-------+
|   Jason| 21|        10|    445|
|    Fred| 30|        12|  32049|
|Jaikumar| 40|        11|  30495|
|   Mason| 43|        20|5866839|
|  Barton| 40|        22| 938482|
| William| 33|        14|2039485|
|    NULL| 57|        41|   NULL|
|    NULL| 23|      NULL|   NULL|
+--------+---+----------+-------+

In [90]:
# Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','Age']).show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [91]:
df_pyspark.show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [92]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy("mean")

In [93]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+-------+-----------+------------------+--------------+
|    Name| Age|Experience| Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+-------+-----------+------------------+--------------+
|   Jason|  21|        10|    445|         21|                10|           445|
|    Fred|  30|        12|  32049|         30|                12|         32049|
|Jaikumar|  40|        11|  30495|         40|                11|         30495|
|   Mason|  43|        20|5866839|         43|                20|       5866839|
|  Barton|  40|        22| 938482|         40|                22|        938482|
| William|  33|        14|2039485|         33|                14|       2039485|
|  Brenda|NULL|      NULL|5039281|         35|                18|       5039281|
|    NULL|  57|        41|   NULL|         57|                41|       1992439|
|    NULL|  23|      NULL|   NULL|         23|                18|       1992439|
+--------+----+----------+-------+-----------+------------------+--------------+

In [94]:
spark=SparkSession.builder.appName('dataframe;=').getOrCreate()

In [97]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [99]:
### Salary of people less than or equal 20000
df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Jason| 21|        10|   445|
+-----+---+----------+------+

In [101]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Jason| 21|
+-----+---+

In [103]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Jason| 21|        10|   445|
+-----+---+----------+------+

In [108]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=1000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [109]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
+--------+----+----------+-------+

In [110]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [111]:
spark

In [112]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [114]:
df_pyspark.show()

+------+----------------+---------+
|  Name|     Departments|   Salary|
+------+----------------+---------+
|  Jack|              IT|       34|
| Trent|         Finance|   762094|
|  Drew|       Operation| 20345958|
|  Seth|    Supply chain| 40919485|
|  Cody|       Marketing|    10495|
|Samuel|Customer Service|302918576|
+------+----------------+---------+

In [115]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [116]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [120]:
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
| Trent|     762094|
|  Jack|         34|
|  Drew|   20345958|
|  Cody|      10495|
|Samuel|  302918576|
|  Seth|   40919485|
+------+-----------+

In [121]:
df_pyspark.groupBy('Departments').sum().show()

+----------------+-----------+
|     Departments|sum(Salary)|
+----------------+-----------+
|         Finance|     762094|
|Customer Service|  302918576|
|       Operation|   20345958|
|       Marketing|      10495|
|              IT|         34|
|    Supply chain|   40919485|
+----------------+-----------+

In [122]:
df_pyspark.groupBy('Departments').mean().show()

+----------------+------------+
|     Departments| avg(Salary)|
+----------------+------------+
|         Finance|    762094.0|
|Customer Service|3.02918576E8|
|       Operation| 2.0345958E7|
|       Marketing|     10495.0|
|              IT|        34.0|
|    Supply chain| 4.0919485E7|
+----------------+------------+

In [123]:
df_pyspark.groupBy('Departments').count().show()

+----------------+-----+
|     Departments|count|
+----------------+-----+
|         Finance|    1|
|Customer Service|    1|
|       Operation|    1|
|       Marketing|    1|
|              IT|    1|
|    Supply chain|    1|
+----------------+-----+

In [124]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|  364956642|
+-----------+

In [164]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [173]:
spark

In [182]:
# Read Dataset
training=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [183]:
training.show()

+--------+----+----------+-------+
|    Name| Age|Experience| Salary|
+--------+----+----------+-------+
|   Jason|  21|        10|    445|
|    Fred|  30|        12|  32049|
|Jaikumar|  40|        11|  30495|
|   Mason|  43|        20|5866839|
|  Barton|  40|        22| 938482|
| William|  33|        14|2039485|
|  Brenda|NULL|      NULL|5039281|
|    NULL|  57|        41|   NULL|
|    NULL|  23|      NULL|   NULL|
+--------+----+----------+-------+

In [184]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [185]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [186]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Experience"],outputCol="Independent Features")

In [192]:
output=featureassembler.transform(training)

In [188]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Features']

In [189]:
finalized_data=output.select("Independent Features","Salary")

In [ ]:
from pyspark.ml.regression import LinearRegression
#train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [ ]:
regressor.coefficients

regressor.intercept

In [ ]:
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

In [ ]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError